<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
	<contextName>bytrees</contextName>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder> 
　　　　　　　　　<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] [%logger{50}] >>> %msg%n</pattern> 
　　　　　 </encoder> 
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender"> 
　　　　　　　　<file>E:\apps\logs\bytrees\spring.log</file> 
　　　　　　　　<append>true</append> 
　　　　　　　　<encoder> 
　　　　　　　　　　<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] [%logger{50}] >>> %msg%n</pattern> 
　　　　　　　　</encoder> 
	</appender>
	<root level="INFO"> 
　　　　　　<appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" /> 
　　　</root>
</configuration>