<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 启动支持 mvc 的注解，比如  @Controller, @RequestMapping 等-->
    <!-- 自动扫描 controller 包下的所有类 -->  
    <context:component-scan base-package="com.bytrees.web" />
    
    <!-- 引入项目配置文件 -->  
    <context:property-placeholder location="classpath:*.properties"/>

    <!-- 默认的注解映射的支持
    <import resource="spring-jdbc.xml" /> 
    <import resource="spring-druid.xml" />
    <import resource="spring-mybatis.xml" />
    <import resource="spring-security.xml" />
    -->

    <!-- 设置视图解析工具 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <!-- 设置文件前缀 -->
        <property name="prefix" value="/WEB-INF/templates/" />  
        <!-- 设置文件后缀 -->
        <property name="suffix" value=".jsp" />  
    </bean> 
    <mvc:annotation-driven />
</beans>